version: '3.9'
services:
  backend:
     build:
      context: ../backend
      dockerfile: Dockerfile.dev
     container_name: backend
     restart: unless-stopped
     environment:
      MONGO_URI: ${MONGO_URI}
      MONGO_DATABASE: ${MONGO_DATABASE}
      NODE_ENV: ${NODE_ENV}
      BACKEND_PORT: ${BACKEND_PORT}
     networks:
       - backend

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    container_name: gateway
    ports:
      - "${GATEWAY_PORT}:8080"
    environment:
      BACKEND_URL: http://backend:${BACKEND_PORT}
      NODE_ENV: ${NODE_ENV}
      PORT: ${GATEWAY_PORT}
    depends_on:
      - backend
    networks:
      - backend


  mongo:
     image: mongo:6
     container_name: mongo
     restart: unless-stopped
     environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
     volumes:
      - mongo_data:/data/db
     networks:
      - backend
volumes:
  mongo_data:
networks:
  backend:
    driver: bridge